---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.image.name }}-service
  namespace: stage-org1
  labels:
    app: {{ .Values.image.name }}
spec:
  selector:
    name: {{ .Values.image.name }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80